---
import { GroupRankingTable } from '@/components/group-ranking-table';
import Layout from '@/layouts/layout.astro';

const { gender, group } = Astro.params;

export const prerender = false;
---

<Layout>
  <section class="space-y-4">
    <h1 class="text-2xl font-bold">Ranking</h1>

    <p class="text-sm opacity-80">{gender} - {group}</p>
    <GroupRankingTable client:load gender={gender} group={group} />
  </section>
</Layout>
