---
import { Chat } from '@/components/chat';
import Layout from '@/layouts/layout.astro';
---

<Layout class="justify-center">
  <h1 class="text-2xl font-bold">
    Liga Cántabra de <span class="text-cantabria-red">Pádel con IA </span>
  </h1>
  <p class="text-sm opacity-80 mb-4">
    Busca un equipo, compáralo con otros equipos o genera las posibles parejas
    para tu próxima fecha de la Liga Cántabra de Pádel con IA.
  </p>
  <Chat client:only="react" messages={[]} onSend={() => {}} />
</Layout>
